@model List<Reservation>

<h2>Reservas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Cliente</th>
            <th>Nombre Servicio</th>
            <th>Dia y Hora</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Customer!.Name</td>
                <td>@reservation.Service!.Name</td>
                <td>@reservation.Time</td>
                <td>
                    <a href="@Url.Action("EditReservation", "Reservations", new { id = reservation.Id })">Edit</a>
                    <a asp-action="CancelReservation" asp-route-id="@reservation.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateReservation">Nueva Reserva</a>
