@model Reservation
@{
    ViewData["Title"] = "Editar Reserva";
    DateTime timeValue = Model.Time!.Value;
    string timeString = timeValue.ToString("yyyy-MM-dd");
}

<h2 class="font-weight-bold">Editar Reserva</h2>

<div class="container mt-5">
    <form asp-action="SaveReservation" method="post">
        <input type="hidden" id="Id" asp-for="Id" />
        <div class="row">
            <div class="col-lg-4">
                <div class="left-panel">
                    <div class="">
                        <label class="font-weight-bold" for="Service_Id">Cliente</label>
                        <div id="customerDetails" class="card mt-3">
                            <div class="card-body">
                                <input type="hidden" id="Customer.Id" asp-for="Customer!.Id" />
                                <h5 class="card-title" id="customerName">@Model.Customer!.Name @Model.Customer.Lastname</h5>
                                <p class="card-text" id="customerEmail">@Model.Customer.Email</p>
                                <p class="card-text" id="customerPhoneNumber">@Model.Customer.PhoneNumber</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="right-panel">
                    <div class="form-group">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-3 me-5">
                                    <label class="font-weight-bold" for="Service_Id">Servicio</label>
                                    <select class="selectpicker" id="Service_Id" data-live-search="true" data-show-subtext="true" asp-for="Service!.Id">
                                        <option value="">Seleccione un servicio</option>
                                        @foreach (var service in Model.ServiceOptions!)
                                        {
                                            <option value="@service.Id">@service.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3 ms-5">
                                    <label class="font-weight-bold" asp-for="State">Estado de la reserva</label>
                                    <select class="selectpicker" asp-for="State" name="State">
                                        @foreach (var value in Enum.GetValues(typeof(State)))
                                            {
                                                var enumName = Enum.GetName(typeof(State), value);
                                                var displayAttribute = ((Enum)value).GetDisplayName();
                                                <option value="@value">@displayAttribute</option>
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-12 mt-3">
                                        <label class="font-weight-bold" for="NumberDiners">Cantidad de Personas</label>
                                    </div>
                                    <div class="col-12">
                                        <div class="btn-group" role="group" aria-label="Opciones de cantidad">
                                            @for (int i = 1; i <= 6; i++)
                                            {
                                                <div class="mr-2">
                                                    <button type="button" class="btn btn-primary rounded-circle btn-quantity" data-quantity="@i">
                                                        <span class="bi bi-people"></span>
                                                        @i
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <input class="form-control input-small" type="number" id="NumberDiners" name="NumberDiners" min="1" maxlength="2" asp-for="NumberDiners">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mt-3 row">
                            <div class="mb-5 col-md-6">
                                <label class="font-weight-bold" for="datepicker">Fecha</label>
                                <div id="datepicker" class="datepicker"></div>
                                <input type="hidden" id="Time" asp-for="Time" />
                            </div>
                            <div class="col-md-6">
                                <label class="font-weight-bold">Horarios Disponibles</label>
                                <div id="availableTimes" class="mt-3 mb-5 row radio-buttons"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" asp-for="NumberKids">Cantidad de Menores</label>
                        <input class="form-control input-small" type="number" id="NumberKids" name="NumberKids" min="0" maxlength="2" asp-for="NumberKids">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" asp-for="NumberCeliac">Cantidad de Celiacos</label>
                        <input class="form-control input-small" type="number" id="NumberCeliac" name="NumberCeliac" min="0" maxlength="2" asp-for="NumberCeliac">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" asp-for="Note">Notas adicionales, alergias, etc</label>
                        <textarea class="form-control" asp-for="Note"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary active">Guardar</button>

                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.es.min.js" integrity="sha512-5pjEAV8mgR98bRTcqwZ3An0MYSOleV04mwwYj2yw+7PBhFVf/0KcE+NEox0XrFiU5+x5t5qidmo5MgBkDD9hEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css" integrity="sha512-aQb0/doxDGrw/OC7drNaJQkIKFu6eSWnVMAwPN64p6sZKeJ4QCDYL42Rumw2ZtL8DB9f66q4CnLIUnAw28dEbg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .caret {
            display: none;
        }

        .hide-card {
            display: none;
        }

        .font-weight-bold {
            font-style: oblique;
            font-weight: bold;
        }

        .input-small {
            width: 60px;
        }
    </style>

    <script>$(document).ready(function () {
    var selectedServiceId = $('#Service_Id').val();
    var timeValue = '@timeString';
            $.ajax({
                url: '/services/get-service/' + selectedServiceId,
                type: 'GET',
                success: function (service) {
                    if (service && service.schedule) {
                        var schedule = service.schedule;
                        var selectedDayOfWeek = getCustomDayOfWeek(new Date(timeValue));
                        var availableTimes = schedule[selectedDayOfWeek];
                        var availableTimesContainer = $('#availableTimes');
                        availableTimesContainer.empty();

                        availableTimes.forEach(function (time) {
                            var formattedTime = time.substring(0, 5) + ' Hs';

                            var radio = $('<input>').attr({
                                type: 'radio',
                                name: 'timeSelected',
                                value: time
                            });
                            if (time === '@Model.TimeSelected') {
                                radio.attr('checked', 'checked')
                            }

                        var label = $('<label>').text(formattedTime);

                        var column = $('<div>').addClass('col-sm-6 col-md-4');
                        var radioButton = $('<div>').addClass('radio-button');
                        radioButton.append(radio).append(label);
                        column.append(radioButton);

                        $('#availableTimes').append(column);
                    });
            $('#availableTimesCard').removeClass('hide-card');
        }
                },
            error: function () {
                console.log('Error al obtener la información del servicio');
            }
                            });
            initDatepicker();
            $('.selectpicker').selectpicker();
        });

        $('.btn-quantity').click(function () {
            var quantity = $(this).data('quantity');
            $('#NumberDiners').val(quantity);
        });

        $(function () {
            $('#Service_Id').change(function () {
                initDatepicker();
            });
        });

        function initDatepicker() {
            $("#datepicker").datepicker('destroy');
            $('#availableTimesCard').addClass('hide-card');
            var selectedServiceId = $('#Service_Id').val();
            $.ajax({
                url: '/services/get-service/' + selectedServiceId,
                type: 'GET',
                success: function (service) {
                    if (service && service.schedule) {
                        var schedule = service.schedule;
                        var daysOfWeek = Object.keys(schedule).map(Number);

                        $("#datepicker").datepicker({
                            format: "yyyy-mm-dd",
                            todayHighlight: true,
                            language: "es",
                            beforeShowDay: function (date) {
                                var dayOfWeek = date.getDay();
                                if (date.getMonth() == (new Date()).getMonth()) {
                                    var timeValue = $('#Time').val();
                                    var dateParts = timeValue.split('/');
                                    if (date.getDate() === Number(dateParts[1]))
                                        return {
                                            tooltip: 'Día Seleccionado',
                                            classes: 'active'
                                        };
                                }
                                return daysOfWeek.includes(dayOfWeek);
                            }
                        }).on('changeDate', function (e) {
                            var dateText = e.format(0, 'yyyy-mm-dd');
                            var selectedServiceId = $('#Service_Id').val();
                            $('#Time').val(dateText);
                            $.ajax({
                                url: '/services/get-service/' + selectedServiceId,
                                type: 'GET',
                                success: function (service) {
                                    if (service && service.schedule) {
                                        var schedule = service.schedule;
                                        var selectedDayOfWeek = getCustomDayOfWeek(new Date(dateText));
                                        var availableTimes = schedule[selectedDayOfWeek];
                                        var availableTimesContainer = $('#availableTimes');
                                        availableTimesContainer.empty();

                                        availableTimes.forEach(function (time) {
                                            var formattedTime = time.substring(0, 5) + ' Hs';

                                            var radio = $('<input>').attr({
                                                type: 'radio',
                                                name: 'timeSelected',
                                                value: time
                                            });

                                            var label = $('<label>').text(formattedTime);

                                            var column = $('<div>').addClass('col-sm-6 col-md-4');
                                            var radioButton = $('<div>').addClass('radio-button');
                                            radioButton.append(radio).append(label);
                                            column.append(radioButton);

                                            $('#availableTimes').append(column);
                                        });
                                        $('#availableTimesCard').removeClass('hide-card');
                                    }
                                },
                                error: function () {
                                    console.log('Error al obtener la información del servicio');
                                }
                            });
                        });
                    }
                },
                error: function () {
                    console.log('Error al obtener la información del servicio');
                }
            });
        }

        function getCustomDayOfWeek(date) {
            var dayOfWeek = date.getDay();
            if (dayOfWeek === 6) {
                return 0;
            }
            return dayOfWeek + 1;
        }</script>

}